body {
    background: #f1f1f1;
  }
  
 .header-nav {
     background: #00d2ff;
     height: 100px;
     width: 100%;
 }

 .header-nav .logo {
    position: relative;
    padding: 25px;
 }

 .header-nav .logo img {
    height: 48px;
    width: 48px;
 }

 .header-nav .title {
        color: #ffffff;
        padding: 25px;
        padding-left: 0px;
        text-transform: uppercase;
 }
  
  /* The screen (or content) of the device */
  .tablet .content {
    position: absolute;
    width: 100%;
    background: white;
    background-size: cover;
  }

  .tablet-content {
      background: #ffffff;
      position: relative;
      padding: 100px;
      height: 700px;
      padding-top: 25px;
      padding-left: 5%;
      padding-right: 5%;
      text-align: center;
  }

  .table-content.row {
    background: violet;
}

  .foot-border {
      background: black;
      display: block;
      width:100%;
      height: 50px;
      padding: 10px;
  }

  div.card {
    margin-bottom: 75px;
  }

  div.card::after {
      margin-bottom: 0px;
  }

  div.card img {
    border-radius: 15px;
    width:128px;
    height: 128px;
  }


  div.card img:hover {
    cursor: pointer;
    filter: grayscale(75%);
    padding: 15px;
    padding: 2px;
    /*height: 148px;
    width: 164px;*/
    transform: scale(1.25); 
    transition: transform .2s; /* Animation */
}

