
<!DOCTYPE html>
<html>

<head>
    <title>Welcome to JQuery</title>
    <script src="../surveyscript/jquery.js"></script>
    <script src="../surveyscript/survey.jquery.js"></script>
    <script src="../surveyscript/js/jquery-migrate-3.0.0.js"></script>
    <script src="../surveyscript/jquery.mobile-1.4.5.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="../surveyscript/icheck.js"></script>
    <script src="../surveyscript/Sortable.js"></script>
    <script src="../surveyscript/scroll.js"></script>
    <script src="../surveyscript/surveyjs-widgets.js"></script>
    <link rel="stylesheet" href="../surveyscript/bootstrap.min.css">
    <link rel="stylesheet" href="../surveyscript/index.css">
    <link rel="stylesheet" href="../surveyscript/survey.css">
    <link rel="stylesheet" href="../surveyscript/style.css">

</head>
    
<body>

    
        <div class="header-nav">
                <div class="col-xs-1">
                    <div class="logo">
                        <img src="../surveyscript/images/logo.png" alt="Logo">
                    </div>
                </div>
        
                <div class="col-xs-11">
                    <div class="title">
                        <h4>Department of Science And Technology Region IX <br> Customer Satisfaction Feedback</h4>
                    </div>                                      
                </div>
           
            </div>
  
             <div class="wrapper" style="
            width: 100%;
            height: 100%;">
            <a id="surveyPrev" href="#" onclick="survey.prevPage();"><img src="../surveyscript/images/left-carret.png" alt="" height="64" width="64"></a>
            <a id="surveyNext" href="#" onclick="survey.nextPage();"><img src="../surveyscript/images/right-carret.png" alt="" height="64" width="64"></a>
                <div id="surveyElement"></div>
                <div id="surveyResult"></div>
        </div>
 
 


    <div class="foot-border">
        <div class="col-md-12">      
            <h4>Copyright © 2019 DOST-IX. All rights reserved.</h4>
        </div>
    </div>

    <script src="../surveyscript/index.js"></script>

</body>

</html>
