
<!DOCTYPE html>
<html>

<head>
    <title>Welcome to JQuery</title>
    <script src="../surveyscript/jquery.js"></script>
    
    <script src="../surveyscript/survey.jquery.js"></script>
    
    
    <link rel="stylesheet" href="../surveyscript/bootstrap.min.css">
    <link rel="stylesheet" href="../surveyscript/index.css">
    <link rel="stylesheet" href="../surveyscript/style.css">

</head>

<body>
    <!--
    <div class="surv">
        <div class="survx">
            <div id="surveyElement"></div>
            <div id="surveyResult"></div>
        </div>
    </div>
    -->


    <div class="header-nav">
        <div class="col-md-1">
            <div class="logo">
                <img src="../surveyscript/images/logo.png" alt="Logo">
            </div>
        </div>
        <div class="col-md-8    ">
            <div class="title">
             <h4>Department of Science And Technology Region IX <br> Customer Feedback System</h4>
            </div>                                      
        </div>
    </div>

                <div class="tablet-content">
                    <div class="row">
                        <div class="col-md-3">
                                <div class="card">
                                        <img src="../surveyscript/images/icon_accounting.jpg" alt="Accounting">
                                </div>
                        </div>
                        <div class="col-md-3">
                                <div class="card">
                                        <img src="../surveyscript/images/icon_accounting.jpg" alt="Accounting">
                                </div>
                        </div>
                        <div class="col-md-3">
                                <div class="card">
                                        <img src="../surveyscript/images/icon_accounting.jpg" alt="Accounting">
                                </div>
                        </div>
                        <div class="col-md-3">
                                <div class="card">
                                        <img src="../surveyscript/images/icon_accounting.jpg" alt="Accounting">
                                </div>
                        </div>
                        <div class="col-md-3">
                                <div class="card">
                                        <img src="../surveyscript/images/icon_accounting.jpg" alt="Accounting">
                                </div>
                        </div>
                        <div class="col-md-3">
                                <div class="card">
                                        <img src="../surveyscript/images/icon_accounting.jpg" alt="Accounting">
                                </div>
                        </div>
                        <div class="col-md-3">
                                <div class="card">
                                        <img src="../surveyscript/images/icon_accounting.jpg" alt="Accounting">
                                </div>
                        </div>
                        <div class="col-md-3">
                                <div class="card">
                                        <img src="../surveyscript/images/icon_accounting.jpg" alt="Accounting">
                                </div>
                        </div>
                        <div class="col-md-4">
                                <div class="card">
                                        <img src="../surveyscript/images/icon_accounting.jpg" alt="Accounting">
                                </div>
                        </div>
                        <div class="col-md-4">
                                <div class="card">
                                        <img src="../surveyscript/images/icon_accounting.jpg" alt="Accounting">
                                </div>
                        </div>
                        <div class="col-md-4">
                                <div class="card">
                                        <img src="../surveyscript/images/icon_accounting.jpg" alt="Accounting">
                                </div>
                        </div>

                    </div>
                </div>

    <div class="foot-border">
        <div class="col-md-12">      
            <h4>Copyright © 2019 DOST-IX. All rights reserved.</h4>
        </div>
    </div>

    <script src="../surveyscript/index.js"></script>

</body>

</html>
