
<!DOCTYPE html>
<html>

<head>
    <title>Welcome to DOST Region IX Customer Satisfaction Feedback</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../surveyscript/jquery.js"></script>
    <script src="../surveyscript/survey.jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="../surveyscript/icheck.js"></script>
    <script src="../surveyscript/Sortable.js"></script>
    <script src="../surveyscript/scroll.js"></script>
    <script src="../surveyscript/surveyjs-widgets.js"></script>
    <link rel="stylesheet" href="../surveyscript/bootstrap.min.css">
    <link rel="stylesheet" href="../surveyscript/index.css">
    <link rel="stylesheet" href="../surveyscript/style.css">

</head>

<body>
    
  
    


    <div class="header-nav">
        <div class="col-xs-1">
            <div class="logo">
                <img src="../surveyscript/images/logo.png" alt="Logo">
            </div>
        </div>

        <div class="col-xs-11">
            <div class="title">
                <h4>Department of Science And Technology Region IX <br> Customer Feedback System</h4>
            </div>                                      
        </div>
   
    </div>

   
        <div class="col-md-12">
                <div class="title-message">
                        <h3>Select any Functional Unit to Rate</h3>
                </div>
        </div>
                <div class="tablet-content">
                    <div class="row">
                        <div class="col-12 col-md-4 col-xs-6 col-lg-3">
                                <div class="openmode card" data-id="ACCOUNTING" href="#openmode">
                                        <img src="../surveyscript/images/icon_accounting.jpg" alt="Accounting">
                                </div>
                        </div>
                        <div class="col-12 col-md-4 col-xs-6 col-lg-3">
                                <div class="openmode card" data-id="CASHIERING" href="#openmode">
                                        <img src="../surveyscript/images/icon_cashiering.jpg" alt="Cashiering">
                                </div>
                        </div>
                        <div class="col-12 col-md-4 col-xs-6 col-lg-3">
                                <div class="openmode card" data-id="HUMAN RESOURCES" href="#openmode">
                                        <img src="../surveyscript/images/icon_hr.jpg" alt="HR">
                                </div>
                        </div>
                        <div class="col-12 col-md-4 col-xs-6 col-lg-3">
                                <div    class="openmode card" data-id="SCHOLARSHIP" href="#openmode">
                                        <img src="../surveyscript/images/icon_sholarship.jpg" alt="Scholarship">
                                </div>
                        </div>
                        <div class="col-12 col-md-4 col-xs-6 col-lg-3">
                                <div class="openmode card" data-id="MAINTENANCE" href="#openmode">
                                        <img src="../surveyscript/images/icon_MAINTENANCE.jpg" alt="MAINTENANCE">
                                </div>
                        </div>
       
                        <div class="col-12 col-md-4 col-xs-6 col-lg-3">
                                <div class="openmode card" data-id="PSTC-ZS" href="#openmode">
                                        <img src="../surveyscript/images/icon_PURCHASING.jpg" alt="PURCHASING">
                                </div>
                        </div>
                        <div class="col-12 col-md-4 col-xs-6 col-lg-3">
                                <div class="card">
                                        <img src="../surveyscript/images/icon_STIC.jpg" alt="STIC">
                                </div>
                        </div>
                        <div class="col-12 col-md-4 col-xs-6 col-lg-3">
                                <div class="card">
                                        <img src="../surveyscript/images/icon_FOS.jpg" alt="FOS-ZC">
                                </div>
                        </div>
                        <div class="col-12 col-md-4 col-xs-6 col-lg-4">
                                <div class="openmode card" data-id="PSTC-ZDS" href="#openmode">
                                        <img src="../surveyscript/images/icon_PSTC-ZDS.jpg" alt="Accounting">
                                </div>
                        </div>      
                        <div class="col-12 col-md-6 col-xs-6 col-lg-4">
                                <div class="openmode card" data-id="PSTC-ZDN" href="#openmode">
                                        <img src="../surveyscript/images/icon_PSTC-ZDN.jpg" alt="PSTC-ZDN">
                                </div>
                        </div>
                        <div class="col-12 col-md-6 col-xs-12 col-lg-4">
                                <div class="openmode card" data-id="PSTC-ZS" href="#openmode">
                                        <img src="../surveyscript/images/icon_PSTC-ZS.jpg" alt="PSTC-ZS">
                                </div>
                        </div>   
                    </div>
                </div>

    <div class="foot-border">
        <div class="col-md-12">      
            <h4>Copyright © 2019 DOST-IX. All rights reserved.</h4>
        </div>
    </div>

    <script src="../surveyscript/index.js"></script>

</body>

</html>
